# Pandas Indexing Tutorial: loc, iloc, slicing, and filtering

In [1]:
import pandas as pd
from param import DataFrame

## Create a dataset : apple_stock_prices

In [15]:
non_continuous_dates = pd.to_datetime(['2021-12-22', '2021-12-23', '2021-12-27'])
data = {
    'Open': [173.039993, 175.850006, 177.085007],
    'Close': [175.639999, 176.279999, 177.410004],
    'Volume': [92135300, 68227500, 14381634]
}

In [16]:
apple_stock_data = pd.DataFrame(data)
apple_stock_data.index = non_continuous_dates

In [17]:
apple_stock_data

                  Open       Close    Volume
2021-12-22  173.039993  175.639999  92135300
2021-12-23  175.850006  176.279999  68227500
2021-12-27  177.085007  177.410004  14381634

## Exploring the data

In [18]:
df = apple_stock_data
df

                  Open       Close    Volume
2021-12-22  173.039993  175.639999  92135300
2021-12-23  175.850006  176.279999  68227500
2021-12-27  177.085007  177.410004  14381634

In [19]:
df.columns

Index(['Open', 'Close', 'Volume'], dtype='object')

In [20]:
df.index

DatetimeIndex(['2021-12-22', '2021-12-23', '2021-12-27'], dtype='datetime64[ns]', freq=None)

In [22]:
df.head(2)

                  Open       Close    Volume
2021-12-22  173.039993  175.639999  92135300
2021-12-23  175.850006  176.279999  68227500

## df[]
Used to get individual columns as Series, and to filter the DataFrame.

In [23]:
df["Open"]

2021-12-22    173.039993
2021-12-23    175.850006
2021-12-27    177.085007
Name: Open, dtype: float64

In [73]:
 type(df["Open"])

pandas.core.series.Series

In [25]:
df[["Open", "Close"]]

                  Open       Close
2021-12-22  173.039993  175.639999
2021-12-23  175.850006  176.279999
2021-12-27  177.085007  177.410004

In [26]:
type(df[["Open", "Close"]])

pandas.core.frame.DataFrame

### Filtering rows based on a boolean

In [35]:
# Select the first two rows
selection = [True, True, False]

df[selection]

                  Open       Close    Volume
2021-12-22  173.039993  175.639999  92135300
2021-12-23  175.850006  176.279999  68227500

In [38]:
# Return a boolean series that is True when Open is greater than 175

df['Open'] > 175

2021-12-22    False
2021-12-23     True
2021-12-27     True
Name: Open, dtype: bool

In [40]:
# Index the DataFrame using the boolean

df[df['Open'] > 175]

                  Open       Close    Volume
2021-12-23  175.850006  176.279999  68227500
2021-12-27  177.085007  177.410004  14381634

## df.loc[]
The main way to index DataFrame. Uses row and column labels.

### Select a single row

In [43]:
# Select a single row

print(type(df.loc["2021-12-22"]))

df.loc["2021-12-22"]

<class 'pandas.core.series.Series'>

Open      1.730400e+02
Close     1.756400e+02
Volume    9.213530e+07
Name: 2021-12-22 00:00:00, dtype: float64

In [44]:
# Select a range from one row label to another

df.loc["2021-12-22": "2021-12-23"]

                  Open       Close    Volume
2021-12-22  173.039993  175.639999  92135300
2021-12-23  175.850006  176.279999  68227500

In [46]:
# Select an open-ended range from one row label to the end of the rows

df.loc["2021-12-23":]

                  Open       Close    Volume
2021-12-23  175.850006  176.279999  68227500
2021-12-27  177.085007  177.410004  14381634

In [47]:
# Select all rows

df.loc[:]

                  Open       Close    Volume
2021-12-22  173.039993  175.639999  92135300
2021-12-23  175.850006  176.279999  68227500
2021-12-27  177.085007  177.410004  14381634

In [48]:
# Selecting non-continuous rows

df.loc[["2021-12-22", "2021-12-27"]]

                  Open       Close    Volume
2021-12-22  173.039993  175.639999  92135300
2021-12-27  177.085007  177.410004  14381634

### Selecting columns

In [50]:
# Select a single column

df.loc[:, "Open"]

2021-12-22    173.039993
2021-12-23    175.850006
2021-12-27    177.085007
Name: Open, dtype: float64

In [51]:
df.loc[:, "Open": "Volume"]

                  Open       Close    Volume
2021-12-22  173.039993  175.639999  92135300
2021-12-23  175.850006  176.279999  68227500
2021-12-27  177.085007  177.410004  14381634

In [52]:
df.loc[:, :"Close"]

                  Open       Close
2021-12-22  173.039993  175.639999
2021-12-23  175.850006  176.279999
2021-12-27  177.085007  177.410004

### Selecting rows and columns

In [53]:
# Select a single cell

df.loc["2021-12-22", "Open"]

173.039993

In [54]:
df.loc["2021-12-22":, "Open"]

2021-12-22    173.039993
2021-12-23    175.850006
2021-12-27    177.085007
Name: Open, dtype: float64

In [57]:
df.loc["2021-12-23":, "Close":]

                 Close    Volume
2021-12-23  176.279999  68227500
2021-12-27  177.410004  14381634

In [58]:
df.loc[["2021-12-22", "2021-12-27"], ["Open", "Close"]]

                  Open       Close
2021-12-22  173.039993  175.639999
2021-12-27  177.085007  177.410004

### Filtering rows and columns

In [59]:
# Filter rows with a boolean

df.loc[df["Open"] > 175]

                  Open       Close    Volume
2021-12-23  175.850006  176.279999  68227500
2021-12-27  177.085007  177.410004  14381634

In [60]:
# Also add in column indexing 

df.loc[df["Open"] > 175, "Volume"]

2021-12-23    68227500
2021-12-27    14381634
Name: Volume, dtype: int64

## df.iloc[]
Used to select rows and columns by position.

In [64]:
# Select a single row

df.iloc[0]

Open      1.730400e+02
Close     1.756400e+02
Volume    9.213530e+07
Name: 2021-12-22 00:00:00, dtype: float64

In [65]:
# Select a single row

df.iloc[:, 0]

2021-12-22    173.039993
2021-12-23    175.850006
2021-12-27    177.085007
Name: Open, dtype: float64

In [66]:
# Select a range of rows

df.iloc[2:]

                  Open       Close    Volume
2021-12-27  177.085007  177.410004  14381634

In [67]:
# Select a range of rows and a single column

df.iloc[1:, 1:]

                 Close    Volume
2021-12-23  176.279999  68227500
2021-12-27  177.410004  14381634

### Combining multiple types of indexing

In [68]:
# Select a range of rows

df.iloc[1:]

                  Open       Close    Volume
2021-12-23  175.850006  176.279999  68227500
2021-12-27  177.085007  177.410004  14381634

In [70]:
df1 = df.iloc[1:]
df1

                  Open       Close    Volume
2021-12-23  175.850006  176.279999  68227500
2021-12-27  177.085007  177.410004  14381634

In [72]:
df1["Open"]

2021-12-23    175.850006
2021-12-27    177.085007
Name: Open, dtype: float64